[2016-03-09 18:35] Abs0lem8 opened #34 "Where \Anti Dump\SizeOfImage.h and Anti Dump\SizeOfImage.cpp ?"
Error	1	error C1083: Cannot open source file: 'Anti Dump\SizeOfImage.cpp': No such file or directory

Error	2	error C1083: Cannot open include file: '..\Anti Dump\SizeOfImage.h': No such file or directory

[2016-03-09 18:47] LordNoteworthy commented on #34
Could you try now ? I added the according files.

I will push soon a compiled release.

[2016-03-09 19:28] Abs0lem8 commented on #34
THX compile 100% ;)

[2016-03-13 19:37] #34 closed

[2016-06-23 16:14] elnat opened #47 "'Anti Debug\SetHandleInformation_API.cpp' 'Anti Debug\SetHandleInformation_API.h'"
what about this files, i think thay are need!

[2016-06-23 21:25] LordNoteworthy commented on #47
should be fixed now, in the Main.cpp, you can comment/uncomment the tricks you are interestede to :)

[2016-06-24 14:54] elnat commented on #47
can you add http://www.rohitab.com/discuss/topic/42453-dype/ this to your code?

[2016-06-24 14:55] LordNoteworthy commented on #47
Yep, will add it tonight.

[2016-06-24 15:03] LordNoteworthy commented on #47
Interesting, I will open a new ticket and I will add it in the near future, will need to time.

[2016-06-24 15:03] #47 closed

[2016-06-24 15:04] LordNoteworthy opened #49 "Dynamic Protection Engine"
To add:

http://www.rohitab.com/discuss/topic/42453-dype/

[2016-08-08 06:34] R00ke opened #57 "idag and idaq"
Hi, i think this  [https://github.com/LordNoteworthy/al-khaser/blob/master/al-khaser/Anti%20Analysis/process.cpp#L20](url) should be changed to "idaq.exe"

al-khaser/Anti Analysis/process.cpp --> Line 20

[2016-08-08 07:20] LordNoteworthy commented on #57
True, I will fix that tonight :) thanks.

[2016-10-19 15:43] LordNoteworthy commented on #57
Fixed, gonna be released on the next commit.

[2016-10-19 15:43] #57 closed

[2016-12-17 09:47] MamuEbal opened #69 "Memory leak."
Hello.
File: Anti VM/Generic.cpp, variable LPTSTR buffer = NULL; (326) will be allocated if no one StrStrI(buffer succeeded. Put it in function's global namespace and check nor NULL before return.

[2016-12-19 09:57] LordNoteworthy commented on #69
Thanks for reporting, gonna be fixed soon !

[2016-12-22 22:10] LordNoteworthy commented on #69
#70 is that ok ?

[2016-12-22 22:47] LordNoteworthy commented on #69
Thanks a lot !

[2016-12-22 22:47] #69 closed

[2017-05-06 01:09] StructureBase opened #76 "RunPE and ErasePE access violation error"
when use runPE and ErasePe together erasePE zeromemory give an error access violation writing location ?

[2017-05-08 19:00] LordNoteworthy commented on #76
Yeah, I will make a fix during the week-end. Thanks a lot for reporting.

[2017-05-11 15:03] fabinet opened #77 "Problem with rdtsc diff using vmexit"
I think there is a problem with your RDTSC diff using VMEXIT.
Pafish detects my VM using this trick but not al-khaser.
I think this is due to the missing 500 ms sleep present in the pafish one :
for (i = 0; i < 10; i++) {
		avg = avg + rdtsc_diff_vmexit();
		Sleep(500);
}

[2017-06-17 04:24] stonedreamforest opened #79 "the al-khaseris not functioning properly"
![2017-06-17_12-20-28](https://user-images.githubusercontent.com/16742566/27250089-d86d17fa-5357-11e7-99fd-0dc540d38681.gif)

[2017-07-06 20:03] LordNoteworthy commented on #79
Sorry for my late answer, you mean that you want to hit the BP at the end of the TLS callback routine ?

[2017-07-06 20:05] LordNoteworthy commented on #77
I will check that and get back to you, sorry for my late answer.

[2017-07-07 01:15] stonedreamforest commented on #79
yes

[2017-09-07 17:14] LordNoteworthy commented on #77
back to you again,  sorry.

Which virtual machine you are using (vmware, vbox)?

[2017-10-23 14:26] MrAhmedSayedAli opened #84 "port to Qt5"
port to Qt5
`process.obj : error LNK2019: unresolved external symbol "void __cdecl print_results(int,wchar_t *)" (?print_results@@YAXHPA_W@Z) referenced in function "void __cdecl analysis_tools_process(void)" (?analysis_tools_process@@YAXXZ)`

[2017-11-19 20:02] kaganisildak opened #86 "Qemu-QA"
I think qemu-qa.exe should be added to the "Processes" section

[2017-11-20 10:58] s3c opened #87 "Precompiled 32 bit binary"
Precompiled 32 bit binary would be nice, just a thought.

[2017-11-20 12:15] LordNoteworthy commented on #87
Will be added on the next commit, thanks for the suggestion.

[2017-11-23 08:48] fabinet commented on #77
KVM

[2017-11-27 09:51] LordNoteworthy commented on #86
Hey @kaganisildak

Sorry for the late answer. Seems it related to Qemu, but I was not able to find out what is the purpose of this process. Google does not show many results. Did you see anywhere on a malware (sha256) or a sandbox system which have this process running ?

Thank you.

[2017-11-27 09:52] LordNoteworthy commented on #84
Hello @MrAhmedSayedAli ,

Do you want to port it to Qt5?

Thanks.

[2017-11-27 09:54] MrAhmedSayedAli commented on #84
if available

[2017-12-02 13:49] MrAhmedSayedAli commented on #84
up

[2017-12-07 07:05] sioban commented on #87
Hi,
Nothing new about a 32 bit version ?

[2017-12-12 08:01] LordNoteworthy commented on #87
You can check now, I just compiled a 32bit version. Feel free to close the issue if it matches your expectation.

[2017-12-12 08:02] LordNoteworthy commented on #84
Hey Ahmed, what are the advantages of porting it to Qt ?

What are you trying to achieve ?

PS: I do not have any experience with Qt :)

Thank you.

[2017-12-12 09:15] s3c commented on #87
Awesome, thanks a bunch

[2017-12-12 09:15] #87 closed

[2017-12-16 21:10] LordNoteworthy commented on #86
Ping ? :)

[2017-12-18 14:54] Nxgr opened #93 "Wrong PEB offset in Anti-VM/generic"
Hey, looks like you got a typo into the Anti-VM/generic.cpp file.
The PEB offset on a 64b environment is 0x60, not 0x30 as on 32b :)

PR : #92

[2017-12-18 17:38] LordNoteworthy commented on #93
Merged, take a look at the PR.

Thanks a lot !

[2017-12-18 17:38] #93 closed

[2017-12-19 03:42] stxletto opened #94 "#bug ascii_to_wide_str maybe have a malloc issues"
TCHAR* ascii_to_wide_str(CHAR* lpMultiByteStr)
{

	/* Get the required size */
	CONST INT iSizeRequired = MultiByteToWideChar(CP_ACP, 0, lpMultiByteStr, -1, NULL, 0);

	TCHAR *lpWideCharStr = (TCHAR*)MALLOC(**iSizeRequired** * sizeof(TCHAR));

	/* Do the conversion */
	INT iNumChars =  MultiByteToWideChar(CP_ACP, 0, lpMultiByteStr, -1, lpWideCharStr, iSizeRequired);

	return lpWideCharStr;
}

[2017-12-19 06:25] stxletto opened #95 "#bug process.cpp line 23 and 28 is same"
_T("dumpcap.exe"),			// Network traffic dump tool
		_T("HookExplorer.exe"),		// Find various types of runtime hooks
		_T("ImportREC.exe"),		// Import Reconstructor
		_T("PETools.exe"),			// PE Tool
		_T("LordPE.exe"),			// LordPE
		**//_T("dumpcap.exe"),		// same with line 23**

[2017-12-19 17:08] LordNoteworthy commented on #86
I will close this issue, as regardless of my efforts to find something where this process name could relate to malware, I was not able to find anything useful. Please, let me know if you believe this issue should be opened again.

[2017-12-19 17:08] #86 closed

[2017-12-19 17:34] LordNoteworthy commented on #95
Corrected, thanks a lot !

[2017-12-19 17:34] #95 closed

[2017-12-19 17:35] LordNoteworthy commented on #94
Hey Stxletto :)

👍  for the gotcha !

Here is a PR to fix that: #96 .

Give me your OK if it solves the issue so I can close it .

[2017-12-19 17:49] LordNoteworthy commented on #79
Hey @stonedreamforest

I just repeat that same process of which you had, and my BP are always triggered.

![Attached a screenshot](https://preview.ibb.co/cRtW76/TLS.png).

Can you check again please.

[2017-12-19 17:58] LordNoteworthy commented on #84
ping @MrAhmedSayedAli

[2017-12-22 21:17] LordNoteworthy commented on #79
Ping ?

[2017-12-23 22:53] LordNoteworthy commented on #79
I will close the issue, if you still have a problem, feel free to open it again.

[2017-12-23 22:53] #79 closed

[2017-12-30 16:29] Lilantboy opened #97 "Got a Question"
How did you learn to use the functions in the windows.h file ?

[2017-12-30 16:59] LordNoteworthy commented on #97
You mean the Win32 APIs ?

[2018-01-04 19:44] wooddii opened #98 "FirmwareACPI/SMBIOS for Qemu/VMWare"
Hello, add to the FirmwareACPI function a validation of known virtual machines:
-VMWare:
                       PBYTE vmwString = (PBYTE)"VMW";
			size_t vmwStringLen = 3;
			PBYTE vmwareUpperString = (PBYTE)"VMWARE";
			size_t vmwareUpperStringLen = 6;

			if (find_str_in_data(vmwString, vmwStringLen, table, tableSize) ||
				find_str_in_data(vmwareUpperString, vmwareUpperStringLen, table, tableS

[2018-01-05 08:54] LordNoteworthy commented on #94
Closed, feel free to re-open it if you see any problem.

[2018-01-05 08:54] #94 closed

[2018-01-06 19:24] LordNoteworthy commented on #98
Interesting ! Thanks a lot @wooddii , I will make a PR in tomorrow.

[2018-01-08 12:06] LordNoteworthy commented on #97
If you are talking about the Win32API, I recommand Windows 95 Programming by Charle Petzold:
https://www.amazon.com/Programming-Windows-95-Microsoft/dp/1556156766

Even if it is an old book, it is still valid and very relevant. You can download the examples here: http://www.charlespetzold.com/src/ProgWin5.zip

Also: Windows via C/C++ 5th Edition
https://www.amazon.com/Windows-via-Jeffrey-M-Richter

[2018-01-08 12:06] #97 closed

[2018-01-08 12:07] LordNoteworthy commented on #84
At the moment, I don't see any benefits to port this to Qt. If you have any strong reasons, just let me know and feel free to re-open the issue.

[2018-01-08 12:07] #84 closed

[2018-02-01 10:48] mauronz commented on #77
The problem is that visual studio does not compile correctly __cpuid(...) in that function. It just skips it.
To solve it put cpuid as inline assembly:

__asm {
xor eax, eax
cpuid
}
![vmexit](https://user-images.githubusercontent.com/19782194/35674673-b5bda236-0745-11e8-8c6b-3c3da152d9f6.jpg)

[2018-02-01 19:13] LordNoteworthy commented on #77
Oh because I guess the compiler see that we dont make use of cpuid return data and he ignored it. Nice finding ! I will see if I can disable optimization or force the compiler to keep the cpuid otherwise I will inline it. Thanks a lot !!

[2018-02-28 19:33] LordNoteworthy commented on #77
@fabinet can you check now ?

[2018-03-01 12:57] fabinet commented on #77
Well, it's working now, nice one :+1: @mauronz  @LordNoteworthy
--> Do you have any idea on how to "patch" RDTSC in order to bypass this trick?

[2018-03-08 17:35] LordNoteworthy commented on #77
I will close this issue, if  you have any issues, feel free to open it again :)

[2018-03-08 17:35] #77 closed

[2018-03-14 20:55] LordNoteworthy commented on #98
Added the firmware tables checks for VMWare, will add soon the ones of Qemu.

[2018-04-19 03:46] kaganisildak commented on #86
https://any.run/

Any.Run is an amas. It use qemu-qa.exe for monitoring os.

[2018-04-19 03:49] kaganisildak opened #105 "Qemu-GA"
I think qemu-ga.exe should be added to the "Processes" section
https://any.run/

Any.Run is an "amas"(automated malware analysis system). qemu-ga.exe is a agent of qemu virt. system.

[2018-04-19 03:51] kaganisildak commented on #105
sorry, qemu-ga.exe

[2018-04-19 17:12] LordNoteworthy commented on #86
Seems it is qemu-**g**a not qemu-**q**a  ?

[2018-04-24 02:56] LordNoteworthy commented on #105
Thank you so much for reporting this, it was merged to master:

#106

[2018-04-24 02:56] #105 closed

[2018-05-10 08:28] garrylachman opened #110 "Antidump + cURL"
When i run AntiDump detection the cURL stop working, if i use any other detection its working.

[code]

[2018-05-15 11:39] LordNoteworthy commented on #110
Hello  @garrylachman

From where curl is actually running ?

[2018-05-16 13:38] Hemorragie opened #111 "disk_size_wmi acting weird with llVal"
Hi everyone,

I tried your solution in order to create an hidden Qemu/KVM Sandbox. But when i tried your program on Windows 7 64 bits with the al-khaser_x64.exe i never pass the flag "Checking hard disk size using WMI".
So i looked at the code and make my partition up to 90GB and it still not pass.
I reproduced your code with the MSDN and figured out that you use the parameter vtProp.llVal in orde

[2018-05-18 06:18] LordNoteworthy commented on #111
Hello @Hemorragie

Thanks for reporting this, I will check this by today and report back to you. Seems it is an issue as you said.

[2018-05-28 16:55] gsuberland opened #112 "System Resources layout as a potential VM detection vector"
I was reading [XPN's article about a TotalMeltdown exploit](https://blog.xpnsec.com/total-meltdown-cve-2018-1038/) and saw that they had updated their code to check which physical addresses were mapped when doing their search for an `_EPROCESS` struct, to avoid BSOD. They do this via the `RESOURCEMAP` registry key, which has some `REG_RESOURCE_LIST` type values. I hadn't come across that registry

[2018-05-28 17:20] gsuberland commented on #112
Aside: there are other `REG_RESOURCE_LIST` values in the registry and they contain all sorts of hardware information that we can probably fingerprint in various ways. My code only dumps the memory entries from the lists and ignores everything else. See [`CM_RESOURCE_LIST`](https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/wdm/ns-wdm-_cm_resource_list) and related structs for mo

[2018-07-10 19:17] gsuberland commented on #98
@LordNoteworthy This appears to have been done (qemu_firmware_ACPI function in Qemu.cpp) although the name in the code is "BXPC" rather than "BXP" as specified by @wooddii above.

@wooddii Despite the obvious merits, I don't think we'll end up doing MSR checks due to the requirement of loading a driver. There are licensing concerns around shipping the Asus drivers and, ultimately, I don't think we

[2018-07-10 20:16] wooddii commented on #98
@LordNoteworthy , yes, this is particularly difficult to operate, but this can be seen as a potential method.
One more thing, why do not you use assembler tricks (for example, jump to the middle of the instruction) to bypass debugging and dumping?

[2018-07-10 22:07] gsuberland commented on #98
@wooddii I'll open a new issue to add that feature.

[2018-07-10 22:15] gsuberland commented on #98
@wooddii Actually, having thought about it a bit more, I'm not sure how that would work as a check. Jumping to the middle of instructions is generally an anti-analysis trick. We could certainly do some middle-of-instruction tricks in a function somewhere that does nothing interesting, with the goal of testing heuristic detection, but I don't think we can do much in the way of a concrete pass/fail

[2018-07-10 22:39] gsuberland opened #114 "Overhaul timing attack code"
The timing attack functions don't seem to actually return any useful success/failure state right now. I know the goal is to outrun maximum execution periods, but it'd be useful to have the tests fail if APIs don't return the expected values.

It looks like when they were originally written into the main function they were done separately so that the check's message could be printed first, but at t

[2018-07-10 22:50] gsuberland opened #115 "Wider range of check return values"
I'd like to overhaul the way we run checks and standardise how we handle errors. Right now we just return true or false, which isn't very useful.

What I propose is the following:

First we replace BOOL return values with an enum of {good, bad, warn, fail}. Good means the check completed successfully and nothing was detected. Bad means the check completed successfully and detected something. Warn

[2018-07-11 02:53] #111 closed

[2018-07-11 02:53] gsuberland commented on #111
Fixed. Thanks for the report.

[2018-07-11 02:54] gsuberland commented on #76
Is this still an issue?

[2018-07-11 17:48] gsuberland opened #118 "Improve disk size IOCTL check"
Right now we always check PhysicalDisk0, which may not be the OS disk and may be part of an array. I'll improve this to detect which drive(s) the C volume is present on and enumerate physical disk size that way., falling back to the old PhysicalDisk0 check if anything goes wrong.

[2018-07-11 18:03] #118 closed

[2018-07-11 18:30] gsuberland opened #120 "Disk size reporting inconsistency check"
Right now we just look to see if the disk size is under ~80GB for each check, but I think it'd be useful to retrieve disk size using every known method and verify that they all give the same results. This is a similar approach to how rootkit detection works (e.g. read registry using regular API, read registry manually from the hive file, compare results).

[2018-07-11 18:31] gsuberland opened #121 "ATA IDENTIFY checks"
We can issue an ATA IDENTIFY command to the disk and see if the returned parameters match known ones from VMs.

[2018-07-11 21:40] gsuberland commented on #121
I'm working on this. I've got some code dumping the entire `IDENTIFY_DEVICE_DATA` struct now. This should give me plenty of artifacts to cross-examine against real machines and VMs. I'll almost certainly end up having the IDENTIFY command run as a function and then have a bunch of different checks off the back of that, rather than one single check.

Here's the IDENTIFY dump from my laptop's SSD:

[2018-07-11 21:41] gsuberland commented on #114
Merged and resolved.

[2018-07-11 21:41] #114 closed

[2018-07-11 21:42] gsuberland commented on #112
@LordNoteworthy Can you run the PhysMemoryResourceList tool above on a few platforms and paste the results please? Once I've got data samples I can write this up as a check.

[2018-07-12 15:15] LordNoteworthy commented on #112
@gsuberland

**VirtualBox VM (Windows 7 x64, 4GB assigned)**
[code]

**VirtualBox VM (Windows 7 x86, 2GB assigned)**
[code]

**VirtualBox VM (Windows 10 x64, 4GB assigned)**
[code]

My host is linux, I will post more about VMWare.

[2018-07-17 18:10] LordNoteworthy commented on #98
In my tests, I found out that the string is __BXPC__ rather than __BXP__. Do you confirm @wooddii ?

I agree with @gsuberland.

[2018-07-17 18:12] LordNoteworthy commented on #76
@StructureBase normally, we should not probably use the runPE injection when the anti-dump trick (ErasePEHeader) is enabled, it makes sense that this would fail during the injection process.

[2018-07-18 08:53] LordNoteworthy commented on #98
Thanks @wooddii for the feedback ! I will close this issue for now, if you are interested to discuss the anti-analysis trick mentioned above, feel free to open a new ticket and we can discuss it.

[2018-07-18 08:53] #98 closed

[2018-07-19 10:46] gsuberland commented on #115
Cool, I'll probably start on this today.

[2018-07-19 11:15] LordNoteworthy opened #123 "Versioning"
We need a better software versioning for the tool. At the moment, it have this scheme: a.xy when xy is incremented when a new malware-trick is added or bugs got fixed.

I suggest to move to something like this: a.b.c:
- a: major release
- b: minor release
- c: build number

- If we make a major change, we move from version 1.0.0 to 2.0.0 (like an API change/break, huge enhancement in the framework

[2018-07-19 12:21] gsuberland commented on #123
I agree on the versioning front, and honestly I think we might be about due for a 1.0.0 release, pending some of the larger changes that are in the pipeline. I think we should use GitHub's projects feature to map out what we'd like to see in a 1.0.0 release and work towards it. I've set one up [here](https://github.com/LordNoteworthy/al-khaser/projects/1).

+1 on on CI. Despite never using it myse

[2018-07-19 12:26] gsuberland opened #124 "Technical descriptions of checks in the Wiki"
I've started writing up documentation around the different checks we do. This will all go together in the GitHub wiki for this repo.

[2018-07-19 12:28] gsuberland opened #125 "Contribution / development guidelines"
As we start to expand the project and include specific ways of doing things (e.g. the API class stuff) we could do with some documentation that helps contributors get up to speed on the codebase.

[2018-07-19 12:30] gsuberland commented on #125
Started work on this here:

https://github.com/LordNoteworthy/al-khaser/wiki/Developer-Guidelines

[2018-07-21 13:37] kaganisildak opened #126 "Detecting Comodo"
Comodo has sandbox, named Container.
To detect it , add dll check
cmdvrt64.dll
cmdvrt32.dll

Here's a test
https://kaganisildak.wordpress.com/2018/07/21/anti-virtualization-detecting-comodo-container/

[2018-07-21 16:04] #126 closed

[2018-07-23 12:00] friuns2 opened #128 "why ProcessJob default return value is true?"
I get always returned true because of this line, even if i don't attach any debuggers, is this a bug?

BOOL ProcessJob()
{
	BOOL foundProblem = TRUE;

[2018-07-23 12:11] gsuberland commented on #128
Thanks for the bug report. Looks like I screwed this up when I inverted the initial logic to whitelist conhost. Fixed in 350631a.

[2018-07-23 12:11] #128 closed

[2018-07-23 15:44] friuns2 opened #129 "Any way detect CE VEH debugger/page exceptions?"
any way detect CE VEH debugger/page exceptions?

"TLS thread attach callback" also seems work for me in reverse logic. It returns Bad for me if nothing attached but if i attach VEH debugger it returns Good for me. Not sure if its related

[2018-07-23 16:02] gsuberland commented on #129
Page exception breakpoints can be detected by walking VirtualQuery over the module's .text address space, but I suspect that if the "Try to hide debugger" checkbox is ticked CE will hook these and fake the results (I'm not 100% sure though). I'll add this to the pipeline.

Regarding the TLS thread attach, please try building from the latest source as I recently changed that check's code. If the is

[2018-07-23 16:23] friuns2 opened #130 "TLS thread attach callback getting false positive"
I built commit 350631a and I get TLS thread attach callback as Bad, no debuggers attached
Windows 7 x64 Administator account
here is full log
https://gist.github.com/friuns2/9c5a72935972b291a82e93bff4cd7f70

[2018-07-23 17:32] gsuberland commented on #129
It seems that CE does something clever with VirtualQuery to lie about pages' guard/noaccess status when such BPs are in use, which invalidates my original approach.

However it is possible to instead do an initial enumeration of the executable pages in the process and re-scan them again later to see if they're still executable. This has the downside of not catching page BPs set early on (i.e. befo

[2018-07-23 17:32] #129 closed

[2018-07-23 17:33] gsuberland commented on #129
I'll open a second issue for VEH debugger detection. I also ran into another way to detect CE while debugging this trick.

[2018-07-23 17:35] gsuberland opened #132 "CE VEH debugger detection"
Cheat Engine's VEH debugger is not currently detected.

One approach is to manually enumerate the VEH table to see if CE has attached itself, although it's a bit tricky because the VEH table pointer is internal to ntdll and it seems the general approach is to AOB-scan the module to find known code that points to that table. This isn't very portable, so I'll have to try to find a better way.

[2018-07-23 17:39] gsuberland opened #133 "CE debugger detection via OutputDebugString"
Cheat Engine is actually dumb enough to call OutputDebugString with a load of trivially identifiable stuff that we can use to detect that it is debugging something on the box.

![🙄](https://media.giphy.com/media/1M9fmo1WAFVK0/giphy.gif)

[2018-07-23 17:58] friuns2 commented on #132
default VEH debugger is detected by Hardware Breakpoints, but if you toggle Page Exceptions its not detected

[2018-07-23 18:06] gsuberland commented on #130
Interesting that it passes process attach but not thread attach. I've added some debug output to the code to help diagnose your issue. Please recompile with the latest code, run [DbgView](https://docs.microsoft.com/en-us/sysinternals/downloads/debugview), then run Al-Khaser and see what debug data comes out in the log.

[2018-07-23 18:08] gsuberland commented on #132
Ah, then we might already have all of this covered. I'll still look into the feasibility to checking the VEH table as that's another powerful anti-debug trick anyway.

[2018-07-23 18:52] friuns2 commented on #130
[14236] All seems fine for TLSCallbackProcess.
[14236] TLSCallbackThread timeout on event wait.

[*] TLS process attach callback
                   [ GOOD ]
[*] TLS thread attach callback
                   [ BAD  ]

[2018-07-23 19:05] gsuberland commented on #130
Interesting that it seems to find the callback event handle but fails on waiting for the event itself.

I've added a couple of extra lines of output in 9d962ad. Can you give it another run?

[2018-07-23 19:15] friuns2 commented on #130
[11488] TLS callback: process attach
[11488] All seems fine for TLSCallbackProcess.
[11488] TLSCallbackThread timeout on event wait.
[11488] TLS callback: thread attach
[11488] TLS callback: thread attach
[11488] TLS callback: thread attach

[2018-07-23 19:37] friuns2 commented on #130
Ok now both are Good

[2018-07-23 19:37] gsuberland commented on #130
Nice!

[2018-07-23 19:37] #130 closed

[2018-07-23 19:48] friuns2 opened #134 "Should i do TLS checks in a while loop or only at application launch?"
Should i do TLS checks in a while loop or only at application launch?

i tried put TLS checks in a while loop, then something goes wrong it freezes for 4 seconds and returns true

first interation
0 TLS process attach callback   (36 ms)
0 TLS thread attach callback   (154 ms)

second interation
1 TLS process attach callback   (4999843 ms)
0 TLS thread attach callback   (435 ms)

[2018-07-23 19:50] gsuberland commented on #134
Only once. The idea is to catch the TLS callback set in the PE header. Looping it offers no additional protection.

[2018-07-23 19:52] friuns2 commented on #134
ok thanks

[2018-07-23 19:52] #134 closed

[2018-07-23 22:31] friuns2 commented on #129
@gsuberland is there way to detect API hooking?

[2018-07-23 22:38] gsuberland commented on #129
Yes, and I'm working on it.

The first way is easy (see if the pointer given from GetProcAddress is within the bounds of the module) but a clever hook can bypass the check.

The second way involves parsing PE files on disk, enumerating the exports table, grabbing the first few bytes of code from each export, applying relocation fixups, then comparing to the entry point of the API in memory. It'll

[2018-07-23 22:51] friuns2 commented on #129
cool, looking forward :)

[2018-07-23 23:36] gsuberland commented on #129
Implemented the first type of check in #138.

[2018-07-23 23:57] friuns2 opened #139 "Dynamic TEXT Section Image Verification"
Checking code for modifications in memory but how reliable it is?

Here is article i tried compile code it working for some extent
https://www.codeproject.com/Articles/17636/Dynamic-TEXT-Section-Image-Verification

[2018-07-24 00:07] gsuberland commented on #139
Yes, this is something we'll add at some point. I'll be adding PE parsing functionality in soon as part of another feature anyway, so we might as well take advantage of it. We'll probably only target the main module rather than all DLLs in the process as it's less likely to flag up false positives that way.

We should avoid using hashing as it needlessly overcomplicates the check; we can just chec

[2018-07-24 02:03] hzqst opened #140 "the ACPI virtual-machine checks always return true under winxp"
the ACPI checks (vmware_firmware_ACPI, vbox_firmware_ACPI ...) always return true since
[code]
API EnumSystemFirmwareTables is not available under winxp

[2018-07-24 06:02] hzqst opened #141 "APIs.cpp GetGetProductInfo?"
[code]
GetGetProductInfo supposed to be GetProductInfo?

[2018-07-24 08:00] chigosec opened #142 "Anti cuckoo"
anti cuckoo like this https://github.com/David-Reguera-Garcia-Dreg/anticuckoo

[2018-07-24 08:10] LordNoteworthy commented on #141
Fixed, thanks a lot !

[2018-07-24 08:10] #141 closed

[2018-07-24 08:54] chigosec commented on #142
Thx for your reply.
Great project!!!

[2018-07-24 10:42] LordNoteworthy commented on #142
@gsuberland what do you think of:
1. reading the DLL (like kernel32.dll) from disk.
2. check if signed and verified (in case, the sandbox provide a tampered dll).
3. parse the exports and look for interesting API function:

- CreateProcessInternalW
- ShellExecuteExW
- WriteProcessMemory
- CreateDirectoryW
- NtCreateFile
- NtDeleteFile
- NtAllocateVirtualMemory
- NtMapViewOfSection
- NtCreateKey
-

[2018-07-24 11:17] gsuberland commented on #142
@LordNoteworthy I think we're already covering this in #139.

Checking if the DLL is signed and verified isn't much use because they can just hook the verification APIs. It may be useful as a separate check, although to be honest I'd just call `GetModuleFileName` on handles to a bunch of DLL modules and fail if the resultant path is not inside `%sysdir%` (query this via `GetSystemDirectory`). Chec

[2018-07-24 11:32] gsuberland opened #144 "DLL hijacking check with GetModuleFileName"
Call `GetModuleFileName` on a bunch of common DLL names, see if they're inside the system directory (call `GetSystemDirectory` to get this path), and fail if they aren't. This detects DLL hijacking.

[2018-07-24 11:33] gsuberland commented on #142
I've opened #144 to cover the `GetModuleFileName` approach.

[2018-07-24 11:56] friuns2 commented on #139
found another implementation
https://github.com/rootm0s/Protectors/blob/master/AntiDebugging/Sources/TextSectionHasher.cpp

[2018-07-25 09:15] LordNoteworthy commented on #142
Hey @gsuberland I totally agree about the two points you made, let's go with your approach then.

[2018-07-25 10:53] friuns2 opened #145 "DLL Injection checks"
Is there ways to detect if malicious dll injected?

[2018-07-26 20:46] gsuberland commented on #145
Yes. There are five primary ways to enumerate DLLs that have been loaded into the process:

 * CreateToolHelp32Snapshot with Module32First/Next
 * EnumProcessModules(Ex)
 * Walk the LDR structures manually via the PEB (making sure to get the WOW64 PEB too for 32-bit processes on 64-bit systems)
 * Scan all memory pages with GetModuleHandle (32-bit only, 64-bit would be too slow)
 * Scan all memory

[2018-07-27 09:14] chigosec commented on #142
Hey.
Sysmon and SIEM(security information and event management) has become mainstream and trend, such as graylog, logthym etc. These systems have their own log collection agents, we can detect it. I am sorry that I have not seen the real environment and cannot provide some useful information.

[2018-07-28 10:06] yuchdev opened #146 "Runtime Library error in x86/Debug configuration"
Under Debug configuration the option "C/C++-Code Generation-Runtime Library" has value /MT (Multi-threaded), whereas should be "Multi-threaded Debug", /MTd. Currently build fails with the linking error

[2018-07-29 00:53] #146 closed

[2018-07-29 00:54] gsuberland commented on #146
Thanks for the bug report. I've fixed this in the latest commit.

[2018-07-29 00:55] gsuberland commented on #145
Work on this has begun in the [dll-injection-detection](https://github.com/LordNoteworthy/al-khaser/tree/dll-injection-detection) branch.

[2018-08-02 10:41] #145 closed

[2018-08-18 05:43] jaspergould commented on #49
Indy))

[2018-08-29 08:11] hzqst opened #149 "check vtProp.vt == VT_BSTR before accessing vtProp.bstrVal"
![1](https://user-images.githubusercontent.com/12287588/44774320-6e1abe00-aba5-11e8-8193-828ac4d2f4c0.png)

Crashed in `serial_number_bios_wmi` since `hRes = pclsObj->Get(_T("SerialNumber"), 0, &vtProp, 0, 0);`  failed and we got an invalid vtProp here, which is accessed later `StrStrI(vtProp.bstrVal, _T("VMWare")) != 0)`

A quick fix is to check if hres is S_OK and vtprop.vt is BT_STR `if (hRes =

[2018-12-31 07:04] SanseoLab opened #151 "Problem in function "serial_number_bios_wmi()"."
In " Anti VM -> Generic.cpp -> serial_number_bios_wmi() "

(StrStrI(vtProp.bstrVal, _T("0")) != 0) || // VBox

I think this condition is not good, cause it use StrStr() and there is only 1 character, "0".
Thank you.

[2019-01-06 12:00] LordNoteworthy opened #152 "Move the solution to Visual Studio 2017"

[2019-01-06 13:19] LordNoteworthy opened #154 "Move to Visual Studio 2017"

[2019-01-08 15:05] gugronnier opened #155 "Program raise exception in Cuckoo"
The program don't drop a file contains all results as it should.

When I searched in cuckoo behavioral analysis what is going wrong, I found that the exception below was raise before the process die.
`stacktrace: RaiseException+0x3d FreeEnvironmentStringsW-0x373 kernelbase+0xa49d @ 0x7fefdd7a49d al-khaser_x64+0x1b65 @ 0x13fc31b65 al-khaser_x64+0xe1e8 @ 0x13fc3e1e8 BaseThreadInitThunk+0xd CreateThr

[2019-01-09 07:16] #154 closed

[2019-01-11 03:52] Spiralem opened #156 "QueueUserAPC always terminate without error"
https://github.com/LordNoteworthy/al-khaser/blob/c1c491df29451837807965f9fb13a50a018c35d9/al-khaser/CodeInjection/QueueUserAPC.cpp#L34-L35

hThread is initialized with `NULL` and have not been reassigned any value, hence program always exit prematurely.

[2019-01-17 05:47] hfiref0x opened #157 "Bugreport?"
Hello,

how do you take bugreports, should I give you patches or you fix it on your own, do you need separate issue for each bug or combined issue post?

Thanks.

[2019-01-17 07:34] LordNoteworthy commented on #157
Hey @hfiref0x ,

Would be very helpful if someone would submit a PR to fix the issue, otherwise, we will try ot fix it by our own.

If the bugs seems to be related sonmehow, you can open one ticket, otherwise a separate issue for each bug.

[2019-01-17 07:34] LordNoteworthy commented on #156
Thank you for reporting, I will fix it soon.

[2019-01-17 07:35] LordNoteworthy commented on #155
Hello @gugronnier , I will take a loot, thank you for the detailled bug report.

[2019-01-17 07:36] LordNoteworthy commented on #151
Hello @SanseoLab ,

What do you suggest here ? Let me look into it.

[2019-01-17 07:37] LordNoteworthy commented on #149
Hello @hzqst

Thanks for reporing the issue, will fix it in the PR 👍

[2019-01-17 08:10] hfiref0x commented on #157
Got it, thanks.

[2019-01-17 08:10] #157 closed

[2019-01-24 02:36] hfiref0x opened #164 "XP support, VMDriverServices"
Hello,

coupe of questions I would like to ask:

1) does this program intended to support Windows XP?

If so, it cannot work here because uses function that is missing on Windows XP - EnumProcessModulesEx.

2) The purpose of VMDriverServices routine in Services.cpp
https://github.com/LordNoteworthy/al-khaser/blob/5eea3ff95504c22f3b607d6d4ad35171df0a1efe/al-khaser/AntiVM/Services.cpp#L5

What actua

[2019-01-31 09:10] LordNoteworthy commented on #164
Hi @hfiref0x ,

1. Yes, this program is intended to run in Windows XP, as EnumProcessModulesEx is missing in XP, we just skkip this trick which make this API call in XP.

2. It is intended to detect VM drivers/services of the guest, I think instead of looking at my guest, I looked at my host when I picked those drivers for the first time.

Best regards,

[2019-01-31 09:12] hfiref0x commented on #164
Hi,

the fix for VM drivers/services is in https://github.com/LordNoteworthy/al-khaser/pull/165 PR.

Kind Regards.

[2019-01-31 09:17] #164 closed

[2019-01-31 16:37] gugronnier commented on #155
ok so it is not really a bug.

So, if I really want to make cuckoo undetectable, I must modify it in order to al-khaser must work with antidebugging checks. And if I want test my cuckoo without modify it, I need to disable antidebugging checks.

I understand now why I had these results,

Thanks you for your answer, I close this issue

[2019-01-31 16:37] #155 closed

[2019-03-25 03:18] #156 closed

[2019-04-09 18:18] lurumdare opened #167 "MmMapIoSpace vm detect"
Maybe write this checks?

Parallels Software
Virtual Machine
VirtualBox
QEMU BIOS
VMware
Bochs

[2019-04-09 18:21] lurumdare opened #168 "KUSER_SHARED_DATA time checks"
Add please this check.

[2019-04-10 15:28] gsuberland commented on #167
What specific check are you referring to? MmMapIoSpace is a kernel-mode API, and by policy we don't load drivers as part of al-khaser.

[2019-04-11 19:12] gsuberland commented on #151
I was originally going to close this as invalid, under the assumption that @SanseoLab had misunderstood the code, but now I get what they mean. The current check just looks for a `0` character _anywhere_ in the BIOS serial number. This will result in a lot of false positives. I'll change the check to just look for an exact serial of `0`.

[2019-04-11 19:39] gsuberland commented on #149
Looks like this was fixed in cb88612.

[2019-04-11 19:39] #149 closed

[2019-04-11 19:45] #151 closed

[2019-04-11 23:41] LordNoteworthy commented on #123
Hi @gsuberland ,

We have now a simple appveyor.yml which does nothing but see if compilation went fine.

Doing proper tests would requires us to setup the different hypervisors (xen, kvm, qemu, vbox, vmware, hyper-v) for (AntiVM) which probably none of the CI providers would give such a possibility. We have to run our own infra which would take some time, so I suggest implemeting the tests in the

[2019-04-12 01:17] gsuberland commented on #121
Using the new tool I've dumped some more results:

* [Windows 10 desktop with a bunch of hard disks](https://gist.github.com/gsuberland/5ba259b2738dc42492188558a3f3a770)
* [Windows 10 guest in VirtualBox 5.1.26](https://gist.github.com/gsuberland/3e9b95ea444de4c0a4f4caefb989c490)

Some obvious places to check for VirtualBox:

* ModelNumber is "VBOX HARDDISK"
* SerialNumber matches regex `^VB[0-9a-

[2019-04-12 16:22] gsuberland commented on #121
Got some additional dumps from friends, resulting in KVM / QEMU detection:

* ModelNumber is "QEMU HARDDISK"
* SerialNumber is "QM00001"

Their dumps verify that the generic checks also work on other hardware, although I have found one example of a real disk where NVCacheSizeLSW is 0 so that rules that check out.

[2019-04-13 20:26] gsuberland opened #172 "New anti-VM WMI checks"
Based on some experimentation, if these classes have no instances it's a good chance of being a VM:

Win32_CacheMemory, Win32_PhysicalMemory,
Win32_MemoryDevice, Win32_MemoryArray, Win32_VoltageProbe,
Win32_PortConnector, Win32_SMBIOSMemory, ThermalZoneInfo performance
counters, CIM_Memory, CIM_Sensor, CIM_NumericSensor,
CIM_TemperatureSensor, CIM_VoltageSensor, CIM_PhysicalConnector, and
CIM_Slot

[2019-04-15 08:49] LordNoteworthy commented on #123
ping @gsuberland :)

[2019-04-15 12:41] gsuberland commented on #172
I'm not closing this just yet as I think there are more Win32_PnPDevice, Win32_BaseBoard, and Win32_Bus checks to do for other virtualisation platforms.

[2019-04-15 13:33] gsuberland commented on #123
I agree that this should be something we do after a post-1.0 release. I have little experience with CI but the small bit I do have makes me certain that the off-the-shelf tooling wouldn't allow for testing on different VM / hypervisor platforms.

Spinning up our own infra for this seems like a reasonable approach, although it comes with some challenges.

The first challenge is that we can't utilis

[2019-04-15 13:55] gsuberland commented on #123
I put the question out on Twitter and someone suggested PXE booting. This might be a decent middle ground where I'd only need two of the SBCs (one for control and hosting the PXE server, one as the test platform). It'd reduce costs significantly.

[2019-04-16 10:46] LordNoteworthy commented on #123
Hey @gsuberland, thanks a lot for your detailed response. Much appreciated.

Some cloud providers like [Vultr ](https://vultr.com)provides barel metal servers billed / hour. We can potentially spin new servers via their APIs (in a parallel fashion using ansible for example) from the CI job, provision them (to install the hypervisors).

Running 5x Intel SBC locally also seems to me a good idea. The

[2019-04-28 00:03] LordNoteworthy commented on #167
Hey @lurumdare,

@gsuberland is right about the loading of drivers policy.

I will close the issue, if you have more info about how this check works, you can open it again for the sake of discussion.

[2019-04-28 00:03] #167 closed

[2019-04-28 00:06] LordNoteworthy commented on #168
Hello,

This trick is already implemented here: https://github.com/LordNoteworthy/al-khaser/blob/master/al-khaser/AntiDebug/SharedUserData_KernelDebugger.cpp

If you mean something else, feel free to open the issue again.

[2019-04-28 00:07] LordNoteworthy commented on #168
ah seems the time checks, I taught the debugger check, sorry.

[2019-04-28 00:38] lurumdare commented on #168
@LordNoteworthy yes

[2019-04-28 00:40] lurumdare opened #175 "Propose VMProtect/Oreans VM branch"
To protect the application using macros.

[2019-04-28 00:40] lurumdare commented on #167
@LordNoteworthy okay. Close it.

[2019-04-28 14:16] lurumdare commented on #175
@LordNoteworthy I'm about hinged library for C/C++ projects.

[2019-05-01 05:44] hfiref0x commented on #168
@lurumdare
It is the the same as GetTickCount and already used in this project as generic detect if time was accelerated. The other usage can be like in Upatre trojan -> https://unit42.paloaltonetworks.com/ticked-off-upatre-malwares-simple-anti-analysis-trick-to-defeat-sandboxes/. Pure usage, for example how many ticks between two instructions, is false-positive generator.

Please elaborate yourse

[2019-05-01 13:28] lurumdare commented on #49
+1

[2019-05-03 16:44] lurumdare opened #178 "Dreadnought"
https://github.com/NtRaiseHardError/Dreadnought

view this techniques

[2019-05-03 17:33] #175 closed

[2019-05-17 07:51] lurumdare opened #180 "The Trap Flag"
This approach is similar to the previous one, except that here you enable the
trap flag in the current process and check whether an exception is raised or
not. If an exception is not raised, you can assume that a debugger has “swallowed” the exception for us, and that the program is being traced. The beauty
of this approach is that it detects every debugger, user mode or kernel mode,
because they

[2019-05-17 09:29] lurumdare opened #181 "ScyllaHide"
How to be with her? What checks are effective?

[2019-05-17 09:31] lurumdare commented on #181
Tests: https://www49.zippyshare.com/v/SDzuI0W0/file.html

Scyllahide all options. Clean system.

[2019-05-17 09:32] lurumdare commented on #181
Only 3 checks effective https://i.imgur.com/wyzMjWv.png

[2019-05-17 09:33] #178 closed

[2019-05-20 22:31] gsuberland commented on #181
As we noted in your recent PR, we aren't going to get into an endless arms race with another open source project whose entire point is to bypass our checks. It just results in a lot of wasted effort that could be better spent on coming up with new and novel ways to detect VMs and debuggers.

The primary goal of this project is to test malware analysis VMs, sandboxes, and security product heuristic

[2019-05-20 22:31] #181 closed

[2019-05-21 04:37] lurumdare commented on #181
@gsuberland Yes

[2019-05-31 07:28] samdogo opened #185 "hello I can't download"
You can download the latest release here: x86 | x64.
Sorry, binaries have been removed for now as they were triggering Google's Safe Browsing heuristics.

Now I can't use al-khaser?

[2019-05-31 14:36] gsuberland commented on #185
Download the source and build it. Visual Studio Community is free and it
should compile with no additional dependencies required.

On Fri, 31 May 2019, 09:28 samdogo, <notifications@github.com> wrote:

[2019-05-31 15:15] samdogo commented on #185
I recently patched the game using n-protect.
Do not bypass al-Kaiser.
Can you tell me how to bypass?

[2019-05-31 16:22] gsuberland commented on #185
Sorry, I have no idea what you're asking here.

On Fri, 31 May 2019, 17:15 samdogo, <notifications@github.com> wrote:

[2019-06-05 17:39] gsuberland commented on #123
Another idea: get a cheap box with vPro support (e.g. Lenovo Thinkstation M70e) and put hard disks in it with a different virtualisation platform on each, then use a combination of an on-system agent process and Intel AMT to automate it.

There's an official C# library called Intel HLAPI which can be used to interface with AMT. You can use it to change the boot device and perform graceful reboots.

[2019-06-05 20:07] LordNoteworthy commented on #185
As @gsuberland you can download the source code and build it by yourself.

Or wait until we start using github releases, we will include the binaries (pwd encrypted).

[2019-06-05 20:07] #185 closed

[2019-06-05 23:37] LordNoteworthy commented on #123
Hello @gsuberland

Sounds good, let's do that. Let's talk privately so I can help with finances.

I can also help by creating a small agent running in the VM which receives the binary, run it and read the log. We can either then forward the log to the CI (in some way) so we can do the checks in the CI once all logs from different hypervisors are received.

[2019-06-06 12:52] gsuberland commented on #123
It's ok, I don't mind writing the agent, and it'll make sense for me to do it in C# because then I can use HLAPI to access the AMT NVRAM for passing data between the controller and the system running the CI.

[2019-06-06 20:22] LordNoteworthy commented on #123
All right, go ahead, I will try to finish the documentation. Thank you.

[2019-06-21 06:24] seifreed opened #186 "Check this twitter thread"
https://twitter.com/sherrod_im/status/1140748556606644230

[2019-06-25 03:07] LordNoteworthy commented on #186
Hey @seifreed

Thanks for the link ! Will check what we can do with it.

[2019-07-27 15:26] dashjuvi opened #187 "Copy of the exe"
Hello, I know I’m a couple years late but is it still possible to get the .exe file? I would love to test it

[2019-07-29 07:00] VanyaBenovska commented on #187
Hi Vash,
(it is your name, right?)
I cloned your code published in GitHub but there is no exe. Which exe do
you mean exactly?
Many thanks for the provided code!!
Kind regards & have Nice Week!
Vanya
+359 8999 78744
vanya.benovska@gmail.com
Skype: vaniabenovska

[image: image.png]

На сб, 27.07.2019 г. в 18:26 ч. Vash <notifications@github.com> написа:

--

M.Sc. Eng.Vanya Benovska, MBA, MEE
Region

[2019-07-29 07:03] dashjuvi commented on #187
Hey Vanya, no probs I managed to fix it.

I’ve clones the repo in my GitHub, with a zip, passed: infected as usual.
If you download the binary and change the extension to .exe should do the trick.

Regards.

[2019-08-01 06:46] VanyaBenovska commented on #187
Hi Vash, which exactly file do you mean? I don't know what extention to
look for: binary files may have a lot of extensions, you know, even no
extention..
I started the program with VS2017 but it works in Debug only, why?
Really beautiful code. May I get some parts of it?
Have a Nice Day!!

На пн, 29.07.2019 г. в 10:04 ч. Vash <notifications@github.com> написа:

[2019-08-01 06:58] dashjuvi commented on #187
Go here: https://github.com/dashjuvi/al-khaser-but-compiled

Download the zip file, unzip with pswd = infected and rename the .bin file to .exe

Or you can download the actual repo (this one) run it in VS and compile it yourself, whatever you want.

[2019-08-03 13:56] VanyaBenovska commented on #187
Hi Vash, not possible to unzip, a pass required.
Nice Weekend!

На чт, 1.08.2019 г. в 9:58 ч. Vash <notifications@github.com> написа:

[2019-08-05 03:57] SeRi0uS007 commented on #187
Vanya, the password is `infected`

[2019-09-01 18:17] recvfrom opened #188 "Anti-Sandbox Check - Known file names"
Gootkit will self-destruct if it's running under one of the following file names (presumably as an anti-sandbox check):
[code]
Reference: https://www.sentinelone.com/blog/gootkit-banking-trojan-deep-dive-anti-analysis-features/

Emotet looks for:
[code]
Reference: https://blog.trendmicro.com/trendlabs-security-intelligence/new-emotet-hijacks-windows-api-evades-sandbox-analysis/

It'd be cool if al

[2019-09-01 22:55] LordNoteworthy commented on #188
Hey @recvfrom

Sounds good. Can you submit a PR or shall I do it?

Basically we need to call GetModuleFleName() then grab the filename from the full path using PathFindFileName() or PathStripPath().

[2019-09-02 08:39] mq1n commented on #188
maybe walking in PEB can be more useful,

[2019-09-02 09:32] LordNoteworthy commented on #188
@mq1n using the PEB is also a way, though I am wondering if that's gonna make it any stealthier? Because my guess is that automated scanning systems just renamed the sample on disk and not by hooking GetModuleFleName or tampering with the RTL_USER_PROCESS_PARAMETERS.ImagePathName inside the PEB.

[2019-09-03 13:43] recvfrom commented on #188
@LordNoteworthy I can submit a PR for this, although I suspect it will take me at least a week or two before I'll have a chance to work on it

[2019-09-03 21:55] LordNoteworthy commented on #188
No worries, take your time ;) Thanks a lot !

[2019-09-05 15:39] recvfrom opened #189 "Anti-Sandbox Check - Known hostnames / usernames"
Some malware will stop executing if it's running on a machine with certain host names and user names, presumably as an anti-sandbox check.  It'd be awesome if al-khaser could have a check for these.

Usernames checked for by Gootkit, from [1]:
[code]

Hostnames checked for by Gootkit, from [1]:
[code]

Usernames checked for by a Trickbot downloader, from [2]:
[code]

Hostnames checked for by a Tri

[2019-09-05 16:12] recvfrom opened #190 "Anti-Sandbox Check - Known ProductIDs"
Some malware will look for ProductIds associated with commercial sandboxes and stop running if detected.  For example, from [1]:
[code]

Although these checks are still common in malware, they are a bit dated (Anubis has shutdown, for instance).  Is it worth adding a check for these?

[1] https://cofense.com/kutaki-malware-bypasses-gateways-steal-users-credentials/

[2019-09-05 16:26] recvfrom opened #191 "Anti-VM - VM identifiers in disk enums"
From [1], disk enums in `HKLM\System\CurrentControlSet\Services\Disk\Enum` sometimes contains strings like `Virtual`, `VMW`, or `Vbox`, which some malware uses as an anti-VM check.  Would it be worth also checking for this in al-khaser?

[1] https://cofense.com/kutaki-malware-bypasses-gateways-steal-users-credentials/

[2019-09-08 12:35] Waterman178 commented on #191
good idea

[2019-09-08 12:36] Waterman178 commented on #190
I think it's worth adding it

[2019-09-08 12:38] Waterman178 commented on #189
It’s a bit interesting, I need to study it.

[2019-09-11 03:25] gsuberland commented on #123
Apologies for the delay. Hardware has now been ordered for this and I'm going to start work on setting it all up.

[2019-09-11 03:29] LordNoteworthy commented on #123
Awesome !! Go to hear, thanks a lot! Drop me a mail in my protonmail email to share expenses.

[2019-09-11 16:03] recvfrom opened #192 "[Question] - Anti-Antivirus Checks?"
Does it make sense to expand al-khaser to detect the presence of known anti-virus programs as well, since some malware will check for these and not run because of it?  For example, checking for known service names, running processes, uninstaller registry keys, file paths, etc.?

Right now, some of the 'DLL Exports and Loaded DLLs' check for artifacts related to AV products, but otherwise it doesn'

[2019-09-11 19:50] recvfrom commented on #191
Another example [2] - Smokeloader checks `System\CurrentControlSet\Services\Disk\Enum\IDE` and `System\CurrentControlSet\Services\Disk\Enum\SCSI` for qemu, virtio, vmware vbox or xen

[2] https://research.checkpoint.com/2019-resurgence-of-smokeloader/

[2019-09-11 21:46] LordNoteworthy commented on #191
Hello @recvfrom

Thanks ! I will add those in the next release.

Cheers.

[2019-09-13 18:35] recvfrom commented on #190
From [1]:

[code]

From [2]:
[code]

It'd also be cool to check for the repeating patterns used by JoeSecurity as found in [2]

All the annotations above are what I've been able to find from searching the web, but as you can see their are many that I couldn't find any information on.  [1] mentions that some of these are associated with GFI and Kaspersky, but I'm not sure which.  I wonder if these

[2019-09-13 19:24] recvfrom commented on #189
Usernames checked for by Betabot, from [1]:
[code]

[1] https://www.cybereason.com/blog/betabot-banking-trojan-neurevt

[2019-09-13 19:51] recvfrom commented on #189
Usernames checked for by Satan, from [4] (not including ones mentioned above):
[code]

[4] https://cofense.com/satan/

[2019-09-13 20:04] recvfrom opened #193 "Anti-Debugging Check - Known Window Names"
It'd be cool to make calls to `FindWindow` and look for window names associated with debuggers.

From [1]:
[code]

From [2] (not including ones mentioned above):
[code]

[1] https://cofense.com/satan/
[2] https://github.com/3val/Athena/blob/master/Source%20-%20Bot/Source/Protection/AntiDebugEmulate.cpp

[2019-09-14 11:00] lupier commented on #193
This stuff is useless and not widely used in real life.
-Zeta Debugger
-Rock Debugger
-ObsidianGUI
-TDeDeMainForm

[2019-10-14 22:26] LordNoteworthy commented on #192
Hello @recvfrom

I have seen many times the WMI one which looks for AntiVirusProduct. I really dunno if this fits here. @gsuberland @hfiref0x what do you think ?

[2019-10-14 22:31] LordNoteworthy commented on #187
Download here: https://www.dropbox.com/s/19q7xv8724l3afd/al-khaser-x64.exe?dl=0

Just compiled it.

[2019-10-14 22:31] #187 closed

[2019-10-15 04:17] hfiref0x commented on #192
You mean simple check if there any AV installed or detect what exactly installed? IMO it useless as it will be _always_ at least 1 installed on Windows 10 (WD).

[2019-10-15 17:28] recvfrom commented on #192
I was thinking it'd be useful to replicate specific antivirus checks that malware performs so that someone could use al-khaser to determine whether their analysis environment is susceptible to any of these checks (in the same way they'd use al-khaser to know whether their environment is susceptible to known VM/debugger/sandbox detection techniques).  This provides a concrete way for people to iden

[2019-10-19 02:13] hfiref0x commented on #192
@recvfrom If you can provide comprehensive list of these artifacts per each AV this can be done.

[2019-10-21 03:16] recvfrom commented on #192
Awesome, I'll start putting these lists together

[2019-11-18 06:20] gsuberland opened #195 "Update Process Debug Object Handle detection trick"
Tyranid [mentioned our debug object trick in a blog post](https://tyranidslair.blogspot.com/2019/04/processdebugobjecthandle-anti-anti.html), and showed that it can be bypassed by the target process modifying the security descriptor of its own debug handle object to contain no ACEs.

We should fix this, checking only for `STATUS_PORT_NOT_SET` as an error code, rather than just looking to see if th

[2019-11-18 06:33] gsuberland commented on #192
I'm mostly ok with us checking for the existence of anti-malware products, but I'd like to suggest right now that we should never use checks that could interfere with the functionality of those products. Part of the ongoing plan for al-khaser is to make it fit into a CI pipeline environment (I'm working on some of this at the moment) and it'd be bad idea for us to go messing with objects/files tha

[2020-01-07 20:39] gsuberland commented on #195
Fixed in #197.

[2020-01-07 20:39] #195 closed

[2020-01-14 04:14] cattrace opened #198 "psapi is missing in windows xp"
![image](https://user-images.githubusercontent.com/4670343/72313758-62ab3280-36c7-11ea-9c3d-daad13ae1f2b.png)

[2020-01-14 04:15] cattrace commented on #198
compiled env: vs2017;select xp options

[2020-01-16 16:50] cetfor commented on #198
Hey @cattrace, it may be worth trying to replace `[EnumProcessModulesEx](https://docs.microsoft.com/en-us/windows/win32/api/psapi/nf-psapi-enumprocessmodulesex)` with `EnumProcessModulesEx`*(https://docs.microsoft.com/en-us/windows/win32/api/psapi/nf-psapi-enumprocessmodules).  Note the difference in prototype with the inclusion of a `dwFilterFlag` in the `Ex` variant.

I don't believe the `Ex` va

[2020-01-25 01:52] LordNoteworthy commented on #188
Hi @recvfrom

Implemented here:  #199 .

One of the big PUA families (InstallCore/DealPly/FusionCore) won't work if filename is not set up as expected. So worth it to have this check.

[2020-01-25 01:52] #188 closed

[2020-02-01 02:13] LordNoteworthy commented on #180
Hello @lurumdare

I had a look and made a quick implementation. Thanks for sharing.

[2020-02-07 23:50] #180 closed

[2020-03-05 08:55] elfbin-2 opened #201 "GetFileAttributes can‘t find '.sys' files."
The API(GetFileAttributes) can't used to find  '.sys' files in system directory. If do that, GetFileAttributes() would return INVALID_FILE_ATTRIBUTES. So,some function (like vmware_files()) would always return FALSE！

[2020-03-06 02:09] elfbin-2 opened #202 "A mistake in ' check_adapter_name()'"
'check_adapter_name()' is in Utils.cpp.
In this function，there is a line like this:
`if (StrCmpI(pwszConverted, szName) == 0)`
There should use ‘StrStrI’ instead of   'StrCmpI' .

[2020-03-19 15:47] bumblebee2511 opened #203 "Anti vm"
How can I open a game application on vmware, please help me, I tried but failed and got the message "This Application Cannot Be Run Under A Virtual Machine"

[2020-03-19 16:10] gsuberland commented on #203
This is not the correct place to ask this question. Al-khaser is a security analysis tool, it does not help you run things in VMs. Try the forums or support site for the game in question.

[2020-03-19 16:10] #203 closed

[2020-03-22 06:27] #202 closed

[2020-03-22 06:27] LordNoteworthy commented on #202
Thanks a lot, @elfbin-2.

Good catch :)

[2020-03-22 07:27] #201 closed

[2020-03-22 07:56] LordNoteworthy commented on #201
Good catch again, thanks mate.

GetFileAttributes was not the issue, it was the wow64 fs direction. The ker automatically redirects to SysWow64 folder and ofc the drivers are not found there.

Cheers.

[2020-03-22 08:02] LordNoteworthy commented on #198
As @cetfor mentioned,  EnumProcessModulesEx requires Windows Vista+.

And apparently that last parameter of EnumProcessModulesEx is used there, not that we can easily get rid of it. If you want, you need to do the filtering by yourself.

Honestly, at this point, I don't think XP is anymore a target to aim for.

@gsuberland  ?   :)

[2020-03-22 19:59] gsuberland commented on #198
It's fair to say that Windows XP isn't _officially_ supported by this project at the moment, since it's so old, but I think wherever possible we should still try to make it at least not crash, even if the check can't run.

While looking into this I discovered that we would actually have not been able to run al-khaser properly on some Windows 7 machines, because they moved `EnumProcessModulesEx` ou

[2020-03-22 20:40] #198 closed

[2020-04-22 18:48] Pernat1y opened #209 "Windows Server 2019 detected as Windows Server 2016 Technical Preview"
Just a small bug.
Windows Server 2019 [Version 10.0.17763.1158]) identified as:
[*] You are running: Microsoft Windows Server 2016 Technical Preview  (build 17763) 64-bit

[2020-04-23 10:04] LordNoteworthy commented on #209
Hello @Pernat1y

Can you please take a look at #210  ?

If you can compile code at branch `Noteworthy` and give it a quick run and see what it display now, would be really appreciated.

Cheers.

[2020-04-23 14:26] Pernat1y commented on #209
Hello.
Thanks for update. Looks good:
`[*] You are running: Microsoft Windows Server 2019  (build 17763) 64-bit`

[2020-04-23 22:31] LordNoteworthy commented on #209
Thanks for checking it out !

[2020-04-23 22:31] #209 closed

[2020-05-28 05:36] offensivelearning commented on #187
The Dropbox link is dead.

[2020-05-28 06:13] LordNoteworthy commented on #187
Nope I just tried it.

[2020-05-28 17:21] offensivelearning commented on #187
I am seeing this:

![notfound](https://user-images.githubusercontent.com/58677722/83172727-a8780d00-a135-11ea-8956-c2356400ced2.PNG)

[2020-05-28 17:41] offensivelearning commented on #187
Anyhow, the compilation went fine. Visual Studio 2019, Version 16.5.5. OS - Windows 10, 2004.

[2020-06-02 06:37] hfiref0x opened #211 "[Enhancement] Few more antisandbox tricks by Hexacorn"
This maybe interested for you

http://www.hexacorn.com/blog/2020/05/31/a-few-more-anti-sandbox-tricks/

Also there is a good point that you can check if Windows is licensed or not. This can detect some sandboxes.

API
https://docs.microsoft.com/en-us/windows/win32/api/slpublic/nf-slpublic-slisgenuinelocal

Example from google

[code]

[2020-06-03 11:39] LordNoteworthy commented on #211
Quick check added.

Thanks @hfiref0x for raising this issue 👍

I will merge it if it looks ok.

[2020-06-04 04:20] #211 closed

[2020-07-28 14:36] nlepleux opened #213 "Anti-VM: XSETBV check"
Hi,

I came across some malware that uses XSETBV to check for VM presence.
Could we add some checks on this?

[2020-07-28 20:14] gsuberland commented on #213
There are a couple of issues I see with this, but I think we need more information to understand how they are using XSETBV before I can concretely say whether this is something we can, or want to, do.

If they're calling XSETBV from usermode, it _shouldn't_ do anything but throw a general protection fault unconditionally, regardless of whether or not the system is running under a VM. Now, _shouldn

[2020-07-28 20:35] gsuberland commented on #213
Addendum: it also appears that this trick is only intended to work against incomplete / naive hypervisor implementations that were sloppily written (e.g. hypervisor drivers to avoid cheat detection, probably some EDR/AV products too), rather than mainstream virtual machine products.

That being said, I think I need to sit down and have a good read through the VirtualBox source code regarding handl

[2020-07-29 02:48] nlepleux opened #214 "LDT false positive"
On a bare metal windows 10,

[*] Checking Local Descriptor Table location                                                       [ BAD  ]

[2020-07-30 23:13] LordNoteworthy commented on #214
True.

That check should be deprecated. I believe It was working only when VMWare was using full virtualization. I will push a quick fix.

[2020-09-07 02:22] Sqeegie opened #216 "Anti-VM: Screen Resolution"
While not a full-proof detection vector, using common default VM resolutions (I.e. 800x600 or 1024x768), could be a good test for default sandboxes.

https://www.bleepingcomputer.com/news/security/trickbot-malware-now-checks-screen-resolution-to-evade-analysis/

[2020-10-10 16:36] JonnyBanana commented on #187
i dude, very nive work, u can reupload the compiled file please?

[2020-10-18 22:41] hubertyang88 opened #218 "How to compile"
I am new to c++ , how to compile al-khaser to exe file? Or is there a binary file ready to run?

[2020-10-20 17:56] gsuberland commented on #218
Open the solution file (al-khaser.sln) in [Visual Studio](https://visualstudio.microsoft.com/), then compile from there.

[2020-10-20 17:56] #218 closed

[2020-10-20 18:47] gsuberland commented on #216
Appears there are a bunch of potential artifacts we can use here:

- `SM_CXSCREEN` / `SM_CYSCREEN` from `GetSystemMetrics` (primary screen size)
- `SM_CXVIRTUALSCREEN` / `SM_CYVIRTUALSCREEN` from `GetSystemMetrics` (virtual desktop size, across all screens)
- `SM_REMOTECONTROL` from `GetSystemMetrics` (reveals if the session is associated with an active terminal services session)
- `SPI_GETWORKARE

[2020-10-20 18:50] gsuberland commented on #76
Closing this due to inactivity.

[2020-10-20 18:50] #76 closed

[2020-10-20 18:51] gsuberland commented on #186
It would be helpful if someone could collate all of the tricks from that thread into a comment here, with relevant links back to the tweets and other reference materials.

[2020-10-20 18:59] gsuberland commented on #121
Looking for help from folks on this one. Please run [ATAIdentifyDump](https://github.com/LordNoteworthy/al-khaser/tree/master/Tools/ATAIdentifyDump) on your machines, both on bare metal and in VMs, and reply here with:

 - Output from the tool attached as a text file.
 - The edition and version of your host OS (e.g. Windows 10 Pro 1909 or Ubuntu 20.04)
 - If running the tool under a VM, the editio

[2020-10-20 22:55] LordNoteworthy commented on #121
- [Output.log](https://github.com/LordNoteworthy/al-khaser/files/5412097/output.log)
- OS Name: Microsoft Windows 10 Pro for Workstations - Version: 10.0.19041 Build 19041
- Running on physical machine
- Any additional info: Virtualbox is running on my host.

[2020-10-20 23:05] LordNoteworthy commented on #121
**Running on a VM**
- [output.log](https://github.com/LordNoteworthy/al-khaser/files/5412129/output.log)
- Host OS: OS Name: Microsoft Windows 10 Pro for Workstations - Version: 10.0.19041 Build 19041
- Guest OS: Microsoft Windows 10 Pro - Version: 10.0.19041 Build 19041
- Hypervisor VirtualBox version 6.1.14 r140239

[2020-10-20 23:20] LordNoteworthy commented on #121
**Running on a VM**
- Host OS: Name: Microsoft Windows 10 Pro for Workstations - Version: 10.0.19041 Build 19041
- Guest OS: Name: Microsoft Windows 7 Home Basic - Version: 6.1.7601 Service Pack 1 Build 7601

- Hypervisor VMWare Workstation - Version: 15.5.6 build-16341506 (Guest Tools Available).

[2020-10-20 23:26] LordNoteworthy commented on #121
**Running on a VM**
- [output.log](https://github.com/LordNoteworthy/al-khaser/files/5412192/output.log)
- Host OS: Name: Microsoft Windows 10 Pro for Workstations - Version: 10.0.19041 Build 19041
- Guest OS: Name: Microsoft Windows 7 Ultimate - Version: 6.1.7601 Service Pack 1 Build 7601
- Hypervisor VirtualBox - Version 6.1.14 r140239 (Guest Tools Available).

[2020-10-28 00:46] #189 closed

[2020-10-28 23:31] #191 closed

[2020-12-28 15:24] sobuj53 opened #222 "How to obtain exe file of this?"
Hi,
Thank you for this. I want to download the binary, I understand you've reason to remove it but how do I get one?

[2021-01-19 16:29] srpape commented on #222
Wouldn't it be possible to just upload the binaries as encrypted zips?

[2021-01-19 16:49] BurntDog commented on #222
You have the source, compile it. Get visual studio 2019 community.

[2021-01-20 14:28] gsuberland commented on #112
I ended up doing some more research into this at work. Writeup here. I'll port the code into here when I get chance.

https://labs.nettitude.com/blog/vm-detection-tricks-part-1-physical-memory-resource-maps/

[2021-01-26 11:43] SpriteOvO opened #223 "Int2d detection always BAD and some strange workarounds"
![image](https://user-images.githubusercontent.com/33660554/105839259-2fa2bb00-600c-11eb-8c74-8fa0be92ab1e.png)

I compiled this project myself and tested it on multiple machines, the `Checking Interupt 0x2d` result was always BAD.

I did the following checks:

- Added a debug printing to `VectoredHandler` function, but there is no output, the exception handler function is not called.

- The retur

[2021-01-26 14:11] gsuberland commented on #223
I have a hunch here, so please try adding `/d2FH4-` to your compiler flags in the project settings (Configuration Properties -> C/C++ -> Command Line) to see if this fixes it.

[2021-01-26 14:14] SpriteOvO commented on #223
@gsuberland Still BAD..

![image](https://user-images.githubusercontent.com/33660554/105856118-cfb80e80-6023-11eb-802a-1317f2df025d.png)

[2021-01-26 14:18] gsuberland commented on #223
Sorry, that should've been `-d2FH4-` in the C/C++ command line options, and `-d2:-FH4-` in the linker command line options.

[2021-01-26 14:21] SpriteOvO commented on #223
I added them both, but it still shows BAD.

[2021-01-26 14:24] gsuberland commented on #223
I can't reproduce the issue on my system. The only difference I can see between your binary and the one I compiled straight out of the repo is that yours imports `__CxxFrameHandler4` from `VCRUNTIME140_1.DLL`, and mine doesn't. This could be related to a new compiler feature described [here](https://devblogs.microsoft.com/cppblog/making-cpp-exception-handling-smaller-x64/).

[2021-01-26 14:25] gsuberland commented on #223
Can you post the full set of compiler flags for the x64 build target, from the command line page?

[2021-01-26 14:38] SpriteOvO commented on #223
@gsuberland [MSBuildDetailedOutput.txt](https://github.com/LordNoteworthy/al-khaser/files/5873930/MSBuildDetailedOutput.txt)

[2021-01-26 14:42] gsuberland commented on #223
Not quite what I was looking for, but that works. Those logs show that you are passing `/d2FH4` to the compiler, not `/d2FH4-`.

[2021-01-26 14:46] SpriteOvO commented on #223
Yes, I found this command without dash from the link you just gave me. `/d2FH4` and `/d2FH4-` I tried both, did not work. :(

[2021-01-26 14:48] SpriteOvO commented on #223
Oh, without the dash is enabled it, I just noticed that I misunderstood the article.

[2021-01-26 16:08] gsuberland commented on #223
I think the new exception handler is a red herring. I have updated VS2019 to the latest version and purposefully enabled FH4 exception handlers, resulting in the additional import, and the problem still does not appear. I'll continue analysing this.

[2021-01-26 16:13] SpriteOvO commented on #223
@gsuberland Thank you very much for your time! So the binary file I provided can reproduce this problem? If you need any additional information please feel free to ask me.

[2021-01-26 16:15] gsuberland commented on #223
I have replicated this issue in the latest version of VS2019 and confirmed that this is unrelated to FH4 exception handling. Turning the feature off completely does not change the behaviour. I will continue to investigate the new features to see what might have caused this issue.

[2021-01-26 20:24] gsuberland commented on #223
I've identified the issue.

The behaviour of the 0x2D interrupt is dependent on the value of the `rax` register at the time of the interrupt. In the unaffected builds, the code around the interrupt call looks something like this:

[code]

In the affected builds, it instead looks like this:

[code]

Notice that in the unaffected builds, `rax` contains the return value of `AddVectoredExceptionHandle

[2021-01-26 20:28] #223 closed

[2021-01-26 20:51] gsuberland commented on #223
Fix applied and I've verified that it's working as intended now. Thanks for submitting this one, I don't think I'd have ever found a fix without a sample executable to look at!

[2021-01-27 02:09] SpriteOvO commented on #223
@gsuberland Thanks for your detailed explanation and fix too!

[2021-02-09 16:12] recvfrom opened #225 "Anti-VM: smsw"
I didn't see this technique covered here - https://search.unprotect.it/technique/smsw/

Reference: https://krabsonsecurity.com/2019/12/05/buer-loader-new-russian-loader-on-the-market-with-interesting-persistence/

[2021-02-12 17:29] recvfrom opened #227 "New hostnames / usernames checked for by malware"
New hostname / username that we could add to the `known_usernames` and `known_hostnames` checks:

Hostnames checked for by OSTap [1]
[code]

Usernames checked for by OSTap [1]
[code]

[1] https://twitter.com/GossiTheDog/status/1357019072534355970

[2021-03-01 14:55] cetfor commented on #186
@gsuberland Here's a summary of the techniques mentioned in the Twitter thread along with contributor names and links to relevant replies.  There are some real gems in this list and I'd like to implement.  I'll add technical references to methods throughout the week in additional comments.

[code]

[2021-03-05 20:32] recvfrom opened #228 "Anti-VM: in instruction (VMWare)"
Reference: https://shasaurabh.blogspot.com/2017/07/virtual-machine-detection-techniques.html
Example: https://github.com/lyzsea/WPM/blob/421f82372e71feb8690b45cd59e33fb4467aa75d/NewGdp/AntiVm/VMDetect.cpp#L80-L110

[2021-03-05 20:52] recvfrom opened #229 "Anti-VM: Hyper-V / Windows Sandbox MAC"
References:
 - https://www.fireeye.com/blog/threat-research/2021/03/sunshuttle-second-stage-backdoor-targeting-us-based-entity.html

![image](https://user-images.githubusercontent.com/36489577/110172192-c2343800-7dca-11eb-994c-186c50e28a15.png)

[2021-03-05 22:35] gsuberland commented on #228
Can you please try this on a VMWare VM and confirm that it works? The x86 `IN` instruction is privileged, so either VMWare overrides the IOPL check to allow its use from unprivileged ring3 code, or this check only works when performed from a kernel driver. I suspect from the source code you linked that it may well be performing the override, but I'd like to see it confirmed before including an imp

[2021-03-05 22:39] gsuberland commented on #225
Looks useful. One important implementation detail is that [UMIP](https://en.wikichip.org/wiki/x86/umip) breaks this check, turning `SMSW` into a privileged instruction, so we'd need to add a catch for that.

[2021-03-05 22:41] gsuberland commented on #222
As noted, you need to compile it for yourself using [Visual Studio](https://visualstudio.microsoft.com/). The community edition is free.

[2021-03-05 22:41] #222 closed

[2021-03-05 22:42] gsuberland commented on #227
These are far too likely to cause false positives for my liking. Checking if "sandbox" is in the computer name is reasonable, though.

[2021-03-06 17:08] recvfrom commented on #228
@gsuberland I confirmed that this works

[2021-03-06 18:39] cetfor commented on #186
I went through the list and dropped methods that are either already implemented or would likely fail on many systems.  There are a number of interesting/creative ideas on the list, which when used to build a larger picture may be useful, they are mostly all far from a "smoking gun."

Here's my own shortlist:

1. Count the current user's recently accessed files
2. Check the ratio of Windows Event l

[2021-03-08 15:57] recvfrom commented on #227
Assuming most people use al-khaser to assess ways in which their malware analysis environment might be susceptible to detection, it seems like it'd be useful for them to be made aware if their environment is using one of these generic user names or host names.  It's likely that most or all of these hostnames/usernames are ones that the malware author observed and determined to likely be sandbox-re

[2021-03-08 17:50] gsuberland commented on #227
I think I'd be more inclined to agree if we had strong empirical data on the matter. I'm unconvinced that the research paper offers any real value in that regard:

- It's 4 years old, so if "abby" was a popular username for certain sandboxes then there's every likelihood that the publication of this fact has caused sandboxes to change their usernames.
- They say they sent 1500 samples to the servi

[2021-03-08 19:20] recvfrom commented on #227
Great points regarding the paper.  This OSTap behavior is relatively new AFAIK, so it seems plausible to me that a sandbox still uses 'abby' as the username.  Assuming that's true, given that knowledge of this username being associated with sandboxes has been out for 4 years then maybe it's also an indication that the ones managing this sandbox are unlikely to run al-khaser there to learn of this

[2021-03-09 10:22] LordNoteworthy commented on #229
Thanks @recvfrom, I will update it.

The MAC address detection as it is implemented now in this project is producing a false positive, which I am not quiet sure how `SUNSHUTTLE` does it properly. The problem is that the network interface in both the guest and the host will have that MAC address. So it is possible that if you run the tool inside a Windows physical machine with Hyper-V installed, it

[2021-03-15 09:44] co-neco opened #230 "[anti-debug]NtSetInformationThread_ThreadHideFromDebugger uses a wrong parameter when calling NtQueryInformationThread."
In NtSetInformationThread_ThreadHideFromDebugger function, NtQueryInformationThread's forth parameter should be sizeof(BOOLEAN) instead of sizeof(BOOL).
sizeof(BOOLEAN) equals to 1 and sizeof(BOOL) equals to 4.
NtQueryInformationThread would return 0xC0000004 when using sizeof(BOOL).

[2021-04-07 16:56] hfiref0x opened #231 "Using PoolTags to Fingerprint Hosts"
This article may spark some interest.
https://labs.nettitude.com/blog/using-pooltags-to-fingerprint-hosts/

tl;dr; you can built table of specific pool tags used by vm drivers when allocating memory and then use it as vm detection vector.

This article provides complete example and this system information should be available starting from ancient times up to modern Win10 versions.

[2021-04-08 02:38] gsuberland commented on #231
Embarrassed to admit that I didn't know this trick, since I not only work at Nettitude but have worked with Kyriakos at two different companies!

[2021-04-08 02:39] LordNoteworthy commented on #231
Thanks @hfiref0x

When I saw the link, my initial taught that it was your post @gsuberland  :)

[2021-04-08 02:48] gsuberland commented on #231
Speaking of which, part 3 of my series is out. I'll open a new issue for it.

[2021-04-08 02:49] gsuberland opened #232 "Hyper-V RAW network protocol detection"
Hyper-V has a RAW network protocol that it registers on guests even if the tools aren't installed. It can be detected via the registry or WMI.

Details here: https://labs.nettitude.com/blog/vm-detection-tricks-part-3-hyper-v-raw-network-protocol/

[2021-04-12 21:16] r1n9w0rm commented on #187
Looks like the dropbox link is dead again.  Here's a new link:

https://mega.nz/file/rZoQ2TAT#PbOFqWecI2YtRksJn6XZwLJyMGOdw6aqI7SusnYJR4s

[2021-04-21 14:23] recvfrom commented on #229
FYI: https://twitter.com/MalwareRE/status/1384193510245474313

[2021-05-30 17:37] recvfrom opened #233 "Anti-Debug: LocalSize(0)"
From: https://twitter.com/fr0gger_/status/1387694972976128003

https://search.unprotect.it/technique/localsize0/

I haven't tested that this does in fact work

[2021-06-10 09:49] 0x11DFE opened #234 "[Improvement] ScanForModules does not support managed modules"
title

[2021-06-10 14:51] gsuberland commented on #234
Can you be more specific about what isn't supported? Modules loaded into the process should be detected by the existing checks, regardless of whether they're .NET or native DLLs. Is there some specific .NET module enumeration mechanism that's missing?

[2021-06-10 15:36] gsuberland commented on #230
Thanks for catching this. I just came to the same conclusion in response to PR #221. Will fix this now.

[2021-06-11 01:07] gsuberland commented on #115
Only took me three years to actually get started. Oh dear.

I'm working on this now. Every check will now return a `CheckResult` object that contains a more granular status, a message, and log information.

Statuses include:

 - Detected
 - Undetected
 - Error
 - Invalid
 - Inconclusive

Detected, undetected, and error are pretty self-explanatory. Invalid is returned when a check cannot be complet

[2021-06-11 07:12] 0x11DFE commented on #234
Yes while debugging i figured it was not enumerating .NET modules.

[2021-06-11 21:49] gsuberland commented on #234
Which of the module checks isn't detecting .NET modules? How are you injecting .NET modules into the process? From what I can see on my end .NET DLLs are being detected just fine.

[2021-06-11 22:17] LordNoteworthy commented on #115
Good design ! looks all good.

[2021-06-11 23:58] 0x11DFE commented on #234
My bad i got confused i thought it was enumerating the whole system process modules, So i guess it should be an idea for a new component of AntiAnalysis.

[2021-06-12 07:09] LordNoteworthy commented on #234
@0x11DFE  What you want to enumerate are not PE Modules but .NET assemblies, which is different right ?

This tool is using native code, therefore you can't expect a .net binary attaching/hijacking it. Assuming it was managed code, then yeah you can list or enumerate assemblies loaded / referenced (like `Assembly.GetReferencedAssemblies()` ) then you can check if the assembly name is in the blackl

[2021-06-12 14:24] gsuberland commented on #234
I'm still confused.

.NET assemblies are regular PE DLLs, and they appear in the results of `EnumProcessModules` when loaded into a process. They should also appear in the results of `NtQuerySystemInformation` when using `SystemModuleInformation`. It doesn't matter whether the host process is managed or native - they're loaded just like any other PE; they just happen to have a .NET metadata table

[2021-06-12 14:39] gsuberland opened #237 "Module scanner assumes memory region must be executable"
The `ScanForModules_MemoryWalk_Hidden` implementation makes an incorrect assumption around the memory layout of modules in memory.

The relevant code is as follows:

[code]

This assumes that the memory region that contains the PE header is executable, but this would only be the case if the injector incorrectly set the entire memory region to be executable. In practice the PE header is usually loc

[2021-06-12 15:01] 0x11DFE commented on #234
Yes exactly they might be loaded from memory since i can only seem to find them using Process Hacker.

[2021-06-12 15:03] 0x11DFE commented on #234
It was just an idea yeah it might have some false positives. But i do think its a better way rather than enumerating all process names and checking if it matches a given blacklist.

[2021-06-12 17:12] gsuberland commented on #237
Second bug: it should be `region->BaseAddress`, not `region->AllocationBase`.

[2021-06-12 18:17] gsuberland commented on #234
I've just had a look at some injected processes and I think we can detect .NET binaries being loaded into the process without needing to mess around with ETW.

When the CLR is attached to a process, regardless of whether or not it started out as a .NET process, it creates in-memory structures that describe the loaded managed modules. The structures look like this:

[code]

Where `PPPPPPPPPPPPPPPP`

[2021-06-12 20:15] gsuberland commented on #234
Note: This only works on .NET Framework binaries. Doesn't appear to work for .NET Core / .NET 5.0 stuff, but if the injector stub is .NET Framework based it still catches that. So there's probably more work to be done on this using ETW. But that's a bit of a pain, so probably one for future rather than now.

[2021-06-12 20:19] gsuberland commented on #234
There are some restrictions to this. If the target process being scanned is a .NET Core process, it doesn't find anything. But if the target process is a native process (like al-khaser) then it does detect it, even if the assembly being injected is a .NET Core DLL.

It also works if the host process is a managed .NET Framework executable. So it looks like the .NET Core host process doesn't generat

[2021-06-12 23:59] LordNoteworthy commented on #234
Excellent work @gsuberland 👍

Regarding the previous discussions about assemblies being show in `EnumProcessModules`. You're absolutely correct,.

If the dll/assembly (let's say dnlib) is referenced directly, then it won't show up in the EnumProcessModules and I was a bit messed up by this.

[2021-06-13 00:55] #234 closed

[2021-07-03 15:31] #237 closed

[2021-07-19 17:57] Miracle-doctor opened #242 "Is dyncheck.com signature exists?"
With which technique can detect https://dyncheck.com/ checked?

[2021-07-19 17:59] gsuberland commented on #242
No idea. Did you try running Al-Khaser through it to see what the output was?

[2021-07-19 21:30] LordNoteworthy commented on #242
@Miracle-doctor write a quick script that run al-khaser and upload the output to a pastebin-like website.

[2021-07-20 05:16] Miracle-doctor commented on #242
I understand you. I'll check it

[2021-10-17 00:13] LordNoteworthy commented on #242
Closing this issue for now. Let us know if you managed to get the output of the tool here.

[2021-10-17 00:13] #242 closed

[2021-11-11 15:56] weewoo22 opened #247 "Ability to run a specific subset of checks"
I'm interested in hardening my system against a few specific checks that failed to pass. Some of the checks take a considerable duration of time to complete. It would be awesome if there was a way to only run a select number of checks instead of the entire test suite so I don't have to wait and could see the results for a only a few checks that I'm interested in. Providing command line flags for e

[2021-11-11 16:15] gsuberland commented on #247
If you're compiling from source, there are a bunch of flags at the top of `main.cpp` that enable or disable various classes of check.

I do agree that it'd be nice to be able to switch various checks on and off with runtime config variables rather than at compile-time, though. It's something that'll be easier to implement once I get around to completing my refactoring work on the reporting output.

[2022-03-22 09:33] gotspatel opened #249 "Enhancement support request"
How can this be incorporated to check for some specific exe/process (with wildcards) to be checked

[code]

any ideas please

[2022-04-07 06:09] luv2dnce33 commented on #187
can someone please build and upload the latest version? not sure why the author cant leave the compiled binaries available in a protected zip file but I do not have a build system to compile this myself

[2022-04-07 07:20] LordNoteworthy commented on #187
https://github.com/LordNoteworthy/al-khaser/actions/runs/1667176521

[2022-04-07 15:57] luv2dnce33 commented on #187
the binary artifact output as a result of this build action have already expired

[2022-04-08 01:47] BurntDog commented on #187
Please be carful, don't get back doored.

[2022-05-15 05:29] Phuong39 opened #250 "can embed in golang?"

[2022-08-14 22:03] thewolfram opened #251 "False positives"
I'm not under any virtual machine, just compiled and ran this and it detected Local Descriptor Table
![image](https://user-images.githubusercontent.com/66202986/184556395-8a185eaa-63a9-4cb8-97fd-f1420a853376.png)
Also it detects Hyper-V global objects
![image](https://user-images.githubusercontent.com/66202986/184556420-35f2534d-a927-453b-b2fc-c34ea25f0b36.png)
My cpu is intel i5-10500, virtualiza